form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 8px auto;
}

form .input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#audioHolder {
    border: 2px dashed #333;
    margin: -20pt 0 20pt 0;
}

form input {
    margin: 4px 4px;
}


button:hover {
    background-color: red;
}

span.username {
    font-weight: bold;
}

.duel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stats .stat {
    display: flex;
    flex-direction: row;
}

.stats .stat > * {
    display: flex;
    width: 50%;
}

.stat .label {
    justify-content: flex-start;
    white-space: nowrap;
}




.user-results {
    padding: 50px 50px 20px 50px;
}

.outcome {
    margin-top: 50pt;
}

.winner {
    border: 5px dashed green;
}
