form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 8px auto;
}

span.username {
    font-weight: bold;
}

.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stats .stat {
    display: flex;
    flex-direction: row;
}

.stats .stat > * {
    display: flex;
    width: 50%;
}

.stat .label {
    justify-content: flex-start;
}

